<p>admin works!</p>


<div *ngIf="isRightRole">
  <form method="post">
    <input type="text" id="reg_num" name="reg_num" placeholder="reg_num" [(ngModel)]="reg_num"><br>
    <input type="text" id="position" name="fio" placeholder="Position" [(ngModel)]="position"><br>
    <input type="text" id="name" name="fio" placeholder="Name" [(ngModel)]="name"><br>
    <input type="text" id="surname" name="fio" placeholder="Surname" [(ngModel)]="surname"><br>
    <input type="text" id="patronymic" name="fio" placeholder="Patronymic" [(ngModel)]="patronymic"><br>
    <input type="text" id="pol" name="pol" placeholder="Pol" [(ngModel)]="pol"><br>
    <input type="text" id="birthday" name="birthday" placeholder="Birthday" [(ngModel)]="birthday"><br>
    <button (click)="postFilterMethod()">post method</button>
  </form>
  <br>
  <h2>Filtered persons</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th>Должность</th>
    </tr>

    </thead>
    <tbody>
      <tr *ngFor="let personItem of filteredPersons | keyvalue">
        <td> {{personItem.key}} </td>
        <ng-container *ngFor="let person of personItem.value | keyvalue">
          <td> {{person.value}} </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
