<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" >Home         </a>
    <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" >Admin         </a>
    <a class="nav-item nav-link" routerLink="/student" routerLinkActive="active" >Student         </a>
    <a class="nav-item nav-link" routerLink="/teacher" routerLinkActive="active" >Teacher         </a>
    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" >Log In         </a>
  </div>
</nav>


<router-outlet></router-outlet>



