<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>Home page!</h1>

  <form method="post">
    <input type="text" id="reg_num" name="reg_num" [(ngModel)]="reg_num"><br>
    <input type="text" id="fio" name="fio" [(ngModel)]="fio"><br>
    <input type="text" id="pol" name="pol" [(ngModel)]="pol"><br>
    <input type="text" id="birthday" name="birthday" [(ngModel)]="birthday"><br>
    <button (click)="postMethod()">post method</button>
  </form>

</body>
</html>
